#pageTitle h1 {
  background-color: #3a3a3a;
  color: #FF6F3A;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 64px;
  font-family: 'Orbitron', sans-serif;
}

#mainNav {
  position: absolute;
  top: 150px;
  background-color: #7C7C7C;
  color: white;
  text-shadow: 2px 2px black;
  width: 100%;
  left: 0px;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

#mainNav a:visited, #mainNav a {
  color: white;
  text-decoration: none;
}

#mainNav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#mainNav li:hover, #mainNav a:hover {
  cursor: pointer;
  color: #FF6F3A;
}

#mainBody {
  position: relative;
  top: 150px;
  width: 300px;
  margin: 0;
  left: calc(50% - 135px);
  font-family: 'Orbitron', sans-serif;
}

.circleIcon {
  position: relative;
  background-color: #FF6F3A;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: calc(35% - 50px);
}

#icon1 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 350px;
  left: 80px;
}

#icon2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 410px;
  left: 80px;
}

#icon3 {
  position: absolute;
  width: 175px;
  height: 100px;
  top: 410px;
  left: 42.5px;
}

.infoLayout {
  position: relative;
  padding-top: 200px;
}

#iconTaxi {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 400px;
  left: 80px;
}

.infoLayout h2 {
  font-size: 44px;
}

.inputDiv {
  position: relative;
  top: 50px;
}

#phoneText {
  position: relative;
  top: 75px;
  line-height: 2;
}

#inputBox {
  height: 90px;
}

.rect {
  position: relative;
  background-color: black;
  width: 100%;
  height: 3px;
  top: 150px;
}
